{% load staticfiles %}
{% load static %}


<body>
    {%include 'base.html' %}
    <div style = "text-align : center">
        <table class = "table">
            <thead>
                <th>Activities' Name</th>
                <th>Time & Date</th>
                <th>Location</th>
                <th>Category</th>
            </head>
            {% for activity in timetable %}
            <tr> 
                <td>{{ activity.activity_name }}</td>
                <td>{{ activity.date }}</td>
                <td>{{ activity.location }}</td>
                <td>{{ activity.category }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        <a class="btn btn-primary" href="clear_sch" role="button"> Clear Schedule </a>
    </div>

</body>