{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

        <!-- FONT LATO -->
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        
        <!-- FONT GLACIAL INDIFFERENCE -->
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>

        <!-- BOOTSRAP REGISTRATION FORM -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        {% block link %} {%endblock%}

        <title> CELINE SETYAWAN </title>

    </head>
    <body style = "background-color: #FF8C8C">
        <header>
            <div class="rows">
                <ul class="main-nav">
                <li class = "{{home}}"> <a href="/"> Home </a></li>
                <li class ="{{prof}}"> <a href="profile"> Profile </a></li>
                <li class ="{{my_works}}"> <a href="my_works"> My Works </a></li>
            <!--    <li class ="{{regist}}"> <a href="register"> Register </a></li> -->
                <li> <a href = "schedule"> Add Schedule </a></li>
                <li> <a href = "table_sch"> See My Schedule </a></li>
                </ul>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
                CCS
            </div>
        </header>

        <div class = "container-fluid text-center" id ="flex-home"></div>
            <img src = "{% static 'Rectangle.png' %}" alt = "Kotak" class = "kotak">
            <div class = "contact_icon">
            <a href = "https://timeline.line.me/user/_deOmasQHXlp4NfeU9iPWuZUdUfeQX0UeX9JaF-o" ><img src = "{% static 'Logo LINE.png'%}" alt = "LINE" class = "line"></a>
            <a href = "" ><img src = "{% static 'Logo WA.png' %}" alt = "WA" class = "wa"></a>
            <a href = "https://id.linkedin.com/in/celine-setyawan-a1b84a136" ><img src = "{% static 'Logo LinkedIn.png'%}" alt = "LINKEDIN" class = "linkedin"></a>
            <a href = "" ><img src = "{% static 'Logo Gmail.png'%}" alt = "GMAIL" class = "gmail"></a>
        </div>
    </body>
</html>