{% load staticfiles %}
{% load static %}
<body>
    {%include 'base.html' %}

    <div style = "text-align : center">
        <h2> YAY! </h2>
        <p id ="feedback"> Your activity has been recorded! </p>
    </div>

</body>