{% load staticfiles %}
{% load static %}
<body>
    {%include 'base.html'%}

    <div class ="fotohello">
      <img alt = "Hello, I'm> Celine!" src= "{% static 'Hello Im Celine.png' %}" style = "width:100%;" />
    </div>
  
</body>