{% load staticfiles %}
{% load static %}

<body>>
    {%include 'base.html'%}

    <div class="container">
        <div class="row" id = "edit_caption">
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://wireframe.cc/pro/pp/5fe75a382190344" target="_blank">
                <img src="{% static 'Wireframe.png' %}" alt="Wireframe cc" style="width:100%">
                <div class="caption text-center">
                    <p>Wireframe</p>
                </div>
                </a>
            </div>
            <div class="thumbnail" id = "marvel_frame">
                    <a href="https://marvelapp.com/9g129a0 " target="_blank">
                    <img src="{% static 'Marvel.png' %}" alt="Marvelapp" style="width:100%">
                    <div class="caption text-center">
                        <p>Prototype</p>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/nature.jpg" target="_blank">
                <img src="{% static 'POSTER2.png' %}" alt="Poster" style="width:100%" id = "poster">
                <div class="caption text-center">
                    <p>Poster Design</p>
                </div>
                </a>
            </div>
            </div>

            <div class="col-md-4">
            <div class="thumbnail">
                <a href="http://ppw-b-story-web-kuh.herokuapp.com/" target="_blank">
                <img src="{% static 'Web.png' %}" alt="Web" style="width:100%" id = "web">
                <div class="caption text-center">
                    <p>Web Design</p>
                </div>
                </a>
            </div>
            </div>
        </div>
    </div>
	
</body>