{% load staticfiles %}
{% load static %}

  <body>
    {%include 'base.html'%}
        <div class = "rows">
            <div class = "col-md-4">
                <div class="experiences">
                    <h2 style="color: black"> EXPERIENCES </h2>
                    <ul class="pengalaman" id="text">
                        <li><a> PR Staff of Open House Fasilkom </a></li>
                        <li><a> Student Mentor of BETIS by Fasilkom </a></li>
                        <li><a> LO of Wisuda Genap Fasilkom </a></li>
                        <li><a> HR of DPM Fasilkom </a> </a></li>
                        <li><a> Chatbot Invasion Staff of COMPFEST X </a></li>
                        <li><a> Event Staff of PMB Fasilkom </a></li>        
                    </ul>
                </div>

                <div class="skill">
                    <h2 style="color: black"> DESIGN & PROGRAMMING SKILL </h2>
                    <img alt = "Design & Programming Skill" src= "{% static 'Skill.png' %}" /> 
                </div>
            </div>

            <div class="col-md-3">
                <div class="fotoprofil">
                        <img alt = "Foto Celine!" src= "{% static 'Foto Celine.png' %}"/>
                </div>
            </div>

            <div class = "col-md-5">
                <div class="about" id="text">
                    <h2 style = "color: black"> ABOUT </h2>
                    <p><i> Majoring in Computer Science. <br> I like to swim and watch Korean drama. <br>
                    "Give your best, so that 3 years from now, you will thank yourself."</i></p>
                    <br>
                    <img src = "{% static 'HBD.png' %}" alt = "Logo HBD" / height = "50" weight = "50">
                    <p left = "50px">"July, 3rd 1999"</p>
                </div>
                      
                <div class="languages">
                    <h2 style="color: black"> LANGUAGES </h2>
                    <img alt = "Languages Skill" src= "{% static 'Languages.png' %}" />
                </div>
            </div>
        </div>
    </body>
</html>