{% load staticfiles %}
{% load static %}
<body>
    {%include 'base.html' %}

    <div id = tampilan_form>
        <section name="form">
            <h2> Add Schedule </h2>
            <br>
            <form id="form" method="POST" action = "{% url 'get_schedule' %}">
                {% csrf_token %}
                {{ formulir.as_p}}
                <br>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </section>
    </div>

</body>