*
{
    margin: 0px;
    padding: 0px;
}

/* HEADER, TAB MENU, AND BACKGROUND PER PAGE */
header {
    top: 0px;
    background-color : white;
    width: 100%;
    height: 100px;
    opacity: 0.94;
    font-family: "Lato", sans-serif;
    font-size: 30pt;
    color: #47525E;
    display: inline-table;
}

.rows {
    margin-top: 25px;
    margin-left: 20px;
}

.main-nav{
    float: right;
    list-style: none;
}

.main-nav li{
    display: inline-block;
    float: left;
    margin-right: 1px;
}

.main-nav li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #47525E;
    font-family: "Lato", sans-serif;
    font-size: 30pt;
    padding: 10px 20px;

}

.main-nav li.active a{
    border: 2px solid #47525E;
}

.main-nav li a:hover{
    color: white;
    background-color: grey;
    opacity: 0.5;
    border: 2px solid #47525E;
}

body{
    background-color: #FF8C8C;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
    position: fixed;
}

.kotak{
    position: fixed;
    width: 6vmax;
    height: 28vmax;
	margin-right: 30vmax;
    top: 12vmax;
    right: -30vmax;
}
.contact_icon{
	position: fixed;
	margin-right: 30vmax;
    top: 6vmax;
    right: -25vmax;
}

.line{
	position: absolute;
	width: 4vmax;
	height: 4vmax;
	margin-right: 0vmax;
    top: 9vmax;
    right: -4.1vmax;
}

.wa{
	position: absolute;
	width: 4vmax;
	height: 4vmax;
	margin-right: 0vmax;
    top: 15vmax;
    right: -4.1vmax;
}

.linkedin{
	position: absolute;
	width: 4vmax;
	height: 4vmax;
	margin-right: 0vmax;
    top: 21vmax;
    right: -4.1vmax;
}

.gmail{
	position: absolute;
	width: 4vmax;
	height: 4vmax;
	margin-right: 0vmax;
    top: 27vmax;
    right: -4.1vmax;
}

/* HOME PAGE*/
.flex-home, #flex-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.fotohello {
    position: absolute;
    left: 0vmax;
    top: 10vmax;
    height: 100vmax;
    width: 100vmax;
}

/* PROFILE PAGE*/
.fotoprofil{
    width: 50vmax;
    height: 50vmax;
    top: 12vmax;
    position: relative;
}

#text{
    font-family: 'GlacialIndifferenceRegular'; 
    font-weight: normal; 
    font-style: normal;
    font-size: 20pt;
    color: white;
}

.experiences{
    width: 30vmax;
    height: 20vmax;
}

.about{
    width: 30vmax;
    height: 20vmax;
}

.skill{
    width: 30vmax;
    height: 20vmax;
}

.languages{
    width: 30vmax;
    height: 20vmax;
}

.bigger_linesp{
    line-height: 2;
}

.img_bhs{
    position: absolute;
    margin-right: 30px;
    top: 40px;
    left: 1px;
}

/* MY WORKS PAGE*/
#edit_caption{
    font-family: 'GlacialIndifferenceRegular'; 
    font-weight: normal; 
    font-style: normal;
    font-size: 20pt;
    color:black;
}

#poster{
    height: 28vmax;
}

#web{
    height: 28vmax;
}

/* REGISTER PAGE*/
.container{
    padding-top: 50px;
}

@media screen and (max-width : 0px){
    /*Create vertical spacing*/
    .main-nav li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    .main-nav li a {
        width: 100%;
    }

     /*Display 'show menu' link*/
     .show-menu {
        display:block;
    }
}

/* FEEDBACK FORM HTML */
#feedback{
    top: 40px;
    font-family: 'GlacialIndifferenceRegular'; 
    font-weight: normal; 
    font-style: normal;
    font-size: 100pt;
    color:black;
}

.tampilan_form{
    padding-left:14%;
    padding-right:14%;
}